.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #74a9cc;
}

table {
  color: rgb(48, 46, 46);
  border-radius: 10px;
  overflow: hidden;
  margin: 12px;
  min-width: 300px;
  background: #d4d1d1;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}